<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/console.css?v=' | append: site.github.build_revision | relative_url }}">

  </head>

  <body>

        <p>#Welcome!!
                I am Geetika Batra(github Username <a href="https://github.com/GeetikaBatra">GeetikaBatra</a>),
                currently a ‘Learn IT Girl’ Scholar working under the guidance of Gosia Borzecka.
                (github Username <a href="https://github.com/gosiaborzecka">gosiaborzecka</a>).
                My mentor Gosia Borzęcka is amazing.She is the best thing that could have ever happened to me.She has been so supportive and never ignored any of my needs.She has created tutorials for me whenever necessary and encouraged me with everything.Words would be less in her praise.She has been so gracious all along and its my honour to learn from someone so talented.
                Following is the project I’ll be working on in the next few weeks.</p>
                <blockquote>
                  <p>Projects</p>
                </blockquote>
                <ul>
                <li>Employee Software:</li>
                
                <li>This is a software to keep a track of employees in an organization.Tools used are Visual Studio and Ms sql.</li>
                <li>Prerequisite Knowledge of C# was required.</li>
                </ul>
                <p>Week wise progress report is as follows.</p>
                <h2 id="week-117-23-nov">WEEK 1(17-23 Nov)</h2>
                <blockquote>
                  <p>Got to Know about Git and Github.</p>
                  <blockquote>
                    <p>Asp.net MVC was learned.( <a href="https://github.com/GeetikaBatra/MVC-Course">ASP.NET MVC </a>)</p>
                    <blockquote>
                      <p><a href="https://github.com/GeetikaBatra/Employee">The Employee Software</a></p>
                    </blockquote>
                  </blockquote>
                </blockquote>
                
                <h2 id="week-224-30-nov">WEEK 2(24-30 Nov)</h2>
                <blockquote>
                  <p>Learned basics of MS-SQL,to Database was created.(<a href="https://github.com/GeetikaBatra/Employee">The Employee Software</a>)</p>
                  <blockquote>
                    <p><a href="https://github.com/GeetikaBatra/MVC-Course">ASP.NET MVC </a> was continued.</p>
                    <blockquote>
                      <p>Initial page i.e <em>LOG IN</em> form was created.</p>
                    </blockquote>
                  </blockquote>
                </blockquote>
                
                <p>##WEEK 3(1-7 Dec)</p>
                <blockquote>
                  <p>Learned basics of Entity framework to connect the database created to the project.</p>
                </blockquote>
                
                <p>##WEEK 4(8-14 Dec)</p>
                <blockquote>
                  <p>Connected to entity framework successfully after so many attempts.</p>
                </blockquote>
                
                <p>##WEEK 5(15-21 Dec)</p>
                <blockquote>
                  <p>Break in project due to final exams.</p>
                </blockquote>
                
                <p>##WEEK 6(22-28 Dec)</p>
                <blockquote>
                  <p>Break Due to final exams.</p>
                </blockquote>
                
                <p>##WEEK 7(29 Dec -4 Jan)</p>
                <blockquote>
                  <p>Back to work on the project</p>
                  <blockquote>
                    <p>Fixed some errors that were recurring in entity framework.</p>
                    <blockquote>
                      <p>Started learning about Razor View engine to improve the view of web page.</p>
                    </blockquote>
                  </blockquote>
                </blockquote>
                
                <p>##WEEK 8(5 Jan-11 Jan)</p>
                <blockquote>
                  <p>Learned more about razor View engine.</p>
                  <blockquote>
                    <p>Learned Controller scaffolding</p>
                    <blockquote>
                      <p>Error was occuring in controller scaffolding so tried the whole process on a dummy project named as Test Project.You can reach it in the MVC course,<a href="https://github.com/GeetikaBatra/MVC-Course/tree/master/ContosoUniversity">Test Project</a></p>
                    </blockquote>
                  </blockquote>
                </blockquote>
                
                <p>##WEEK 9(12 Jan-18 Jan)</p>
                <blockquote>
                  <p>Worked Still on Test Project,trying to figure out what was the problem.</p>
                  <blockquote>
                    <p>Still No luck in error</p>
                  </blockquote>
                </blockquote>
                
                <p>##WEEK 10(19 Jan -25 Jan)</p>
                <blockquote>
                  <p>Finally problem solved and the error was occuring because of the context mode difference in codefirst and database first models.</p>
                  <blockquote>
                    <p>Trying to learn more things to style the pages better which include Html,Css and some java Script.</p>
                    <blockquote>
                      <p>Also trying to contribute to open source,in order to learn more and more things.</p>
                    </blockquote>
                  </blockquote>
                </blockquote>
                
                
  </body>
  
</html> 